{% extends "layout.twig" %}

{% block title %}Custom Software Development for Kanboard{% endblock %}
{% block description %}Sponsor the development of a feature{% endblock %}

{% block content %}
    <article id="development">
        <h1>Custom Software Developments</h1>

        <dl>
            <dt>Sponsor new features</dt>
            <dd>If your company is missing an important functionality, you can sponsor the development of it.</dd>
            <dt>Custom plugins</dt>
            <dd>Allow the possibility to develop very specific features for your business.</dd>
            <dt>Integration</dt>
            <dd>Integrate Kanboard with your internal applications.</dd>
            <dt>Open source</dt>
            <dd>Until now, all customers have accepted to include their developments in the community edition of Kanboard.</dd>
            <dt>Non-disclosure agreement</dt>
            <dd>We keep all information about our relation confidential.</dd>
        </dl>

        <h2>How it works?</h2>
        <ol>
            <li>You write the specs, explain in a simple way what you would like to have, drawing a mockup can also be a good idea</li>
            <li>We send you a quote based on the time and the complexity of the task</li>
            <li>If you accept the estimate, the development is started</li>
            <li>You validate that everything works as expected</li>
            <li>We send the invoice, the payment is made by international wire transfer</li>
        </ol>

        <h2>Who we are?</h2>
        <p>
            Kanboard is developed by Frédéric Guillot, the company is located in Montréal, Canada.
            It's possible to communicate in English and French.
        </p>

        <a href="mailto:quote@kanboard.net" class="btn btn-blue">Ask for a quote</a>

    </article>
{% endblock %}
