{% extends "layout.twig" %}

{% block title %}Donations{% endblock %}
{% block description %}Make a donation for Kanboard{% endblock %}

{% block content %}
    <h1>Donations</h1>
    <p class="alert">
        If you are using Kanboard everyday at your company, you may consider to make a small donation.
    </p>
    {% include 'donation.twig' %}
{% endblock %}
