{% extends "layout.twig" %}

{% block title %}Features of Kanboard{% endblock %}
{% block description %}Features of Kanboard{% endblock %}

{% block content %}
    <section id="features">
        <h1>Work more efficiently with Kanboard</h1>

        <dl>
            <dt>Simple</dt>
            <dd>
                There is no fancy user interface, Kanboard focus on simplicity and minimalism.
                The number of features is voluntary limited.
            </dd>
            <dt>Visual and clear overview of your tasks</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/board.png" alt="Kanban board" title="Kanban board"/>
                </figure>
                <p>The Kanban board is the best way to know the current status of a project because it's visual.
                    It's very easy to understand, there is nothing to explain.
                    You can limit the work in progress to improve the efficiency of your team.</p>
                <p><a href="/features/kanban">Discover the board features</a>.</p>
            </dd>
            <dt>Search and filter tasks</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/search.png" alt="Search Engine" title="Search Engine"/>
                </figure>
                <p>
                    Kanboard have a very simple query language that offers the flexibility to find tasks in no time.
                </p>
                <p>
                    <a href="/features/search-and-filters">See by yourself how the filters can be very useful</a>.
                </p>
            </dt>
            <dt>Single dashboard for all projects</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/dashboard.png" alt="Dashboard" title="Dashboard"/>
                </figure>
                <p>
                    Get all important information in one place, your projects, your calendar, your assigned tasks and sub-tasks.
                </p>
                <p>
                    <a href="/features/dashboard">More about the dashboard</a>.
                </p>
            </dd>
            <dt>Work in a team or alone</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/permissions.png" alt="Users" title="Users"/>
                </figure>
                <p>
                    Kanboard is designed for small teams, but you can also work alone.
                    For each project, you can add members and project managers with more privileges.
                </p>
            </dd>
            <dt>Tasks, subtasks, attachments and comments</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/task.png" alt="Task" title="Task"/>
                </figure>
                Break down a task into sub-tasks, estimate the time or the complexity.
                Describe your task by using the <a href="/documentation/syntax-guide">Markdown syntax</a>.
                Add comments, documents, change the color, the category, the assignee, the due date.
                Move or duplicate your tasks across projects with one click.
            </dd>
            <dt>Automated actions</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/actions.png" alt="Automatic actions" title="Automatic actions"/>
                </figure>
                <p>Don't repeat yourself! <a href="/documentation/automatic-actions">Automate your workflow</a>.
                    Stop doing again and again the same thing manually.
                    Change automatically the assignee, colors, categories and almost anything based on events.</p>
            </dd>
            <dt>Swimlanes</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/swimlanes.png" alt="Swimlanes" title="Swimlanes"/>
                </figure>
                <p><a href="/documentation/swimlanes">Swimlanes</a> are horizontal separations in your board.
                    You can divide the board into several sections to manage software releases or anything else.</p>
            </dd>
            <dt>Gantt charts</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/gantt-chart.png" alt="Gantt" title="Gantt"/>
                </figure>
                <p>
                    Visualize the timeline of your projects. Allocate resources effectively.
                    Plan your projects in minutes.
                </p>
                <p>
                    <a href="/features/gantt-chart">Learn more about Gantt charts</a>.
                </p>
            </dd>
            <dt>Analytics and reports</dt>
            <dd>
                <figure>
                    <img src="/screenshots/features/analytics.png" alt="Analytics" title="Analytics"/>
                </figure>
                <p>
                    Analyze and improve your workflow by using the <strong>cumulative flow diagram or the burn down chart</strong>.
                    Visualize the <strong>lead and cycle time</strong> of your projects.
                </p>
                <p>
                    <a href="/features/analytics-and-reports">Learn more about reports</a>.
                </p>
            </dd>
            <dt>Integration</dt>
            <dd>
                <p>
                    Kanboard can be easily integrated with external software by using the <a href="/documentation/api-json-rpc">API</a> and <a href="/documentation/webhooks">web hooks</a>.
                </p>
                <p>
                    <a href="/documentation/sharing-projects">Share your board</a> with external people in one click.
                    Follow all project activities from your <a href="/documentation/rss">RSS reader</a>.
                    Import due tasks in your favorite calendar application.
                </p>
                <p>
                    Create tasks by email or synchronize Kanboard with <a href="/plugin/gitlab-webhook">Gitlab</a>, <a href="/plugin/gogs-webhook">Gogs</a>, <a href="/plugin/github-webhook">Github</a> or <a href="/plugin/bitbucket-webhook">Bitbucket</a>.
                </p>
                <p>
                    <a href="/features/integrations">More details on available integrations</a>.
                </p>
            </dd>
            <dt>Notifications</dt>
            <dd>
                Be notified by email when something happens.
                Kanboard can also send events to <a href="/plugin/hipchat">Hipchat</a>, <a href="/plugin/slack">Slack</a>, <a href="/plugin/rocketchat">RocketChat</a>, <a href="/plugin/mattermost">Mattemrost</a> and <a href="/plugin/jabber">Jabber</a>.
            </dd>
            <dt>Time tracking</dt>
            <dd>
                Track automatically the time spent on subtasks and tasks.
                Compare the time spent to the time estimated.
            </dd>
            <dt>User roles</dt>
            <dd>
                Kanboard uses a very simple permission system.
                There are only three different roles: administrators, managers and standard users.
            </dd>
            <dt>Translated in 26 languages</dt>
            <dd>
                Thanks to the different contributors, Kanboard is translated in Bahasa Indonesia, Bosnian, Brazilian, Chinese, Czech, Danish, Dutch, English, Finnish, French, German, Greek, Hungarian, Italian, Japanese, Korean, Malay, Norwegian, Polish, Portuguese, Russian, Serbian, Spanish, Swedish, Thai, Turkish.
            </dd>
            <dt>Multiple authentication</dt>
            <dd>
                Connect Kanboard to your existing <a href="/documentation/ldap-authentication">LDAP/Active Directory</a> servers.
                Use external providers such as <a href="/plugin/google-auth">Google</a>, <a href="/plugin/github-auth">Github</a> or <a href="/plugin/gitlab-auth">Gitlab</a>.
                Custom authentication system is also possible with the flexible <a href="/documentation/reverse-proxy-authentication">Reverse-Proxy mode</a>.
            </dd>
            <dt><a href="/hosting">Host almost anywhere</a></dt>
            <dd>
                Install Kanboard on your shared hosting platform, your preferred VPS provider, your Raspberry Pi or localhost.
                Deploy Kanboard with <a href="/documentation/docker">Docker</a> or any cloud platform like <a href="/documentation/heroku">Heroku</a>.
            </dd>
            <dt>Super easy installation</dt>
            <dd>
                There are almost no external dependencies.
                Basically, <a href="/documentation/installation">the installation is just a copy and paste</a>.
                Upgrades are really easy, the database schema is automatically migrated for you.
            </dd>
            <dt>Choose your preferred database</dt>
            <dd>
                Kanboard is compatible with <a href="/documentation/sqlite-database">Sqlite</a>, <a href="/documentation/mysql-configuration">Mysql</a>, MariaDb and <a href="/documentation/postgresql-configuration">Postgres</a>.
            </dd>
            <dt>Exports</dt>
            <dd>
                You prefer to use your Spreadsheet software? No problem, Kanboard can export tasks in CSV.
                It's compatible with everything: Microsoft Excel, LibreOffice, Google Docs, etc.
            </dd>
            <dt>Security</dt>
            <dd>
                Kanboard supports <strong>two factor authentication</strong> compatible with any <abbr title="Time-based One-time Password Algorithm">TOTP</abbr> software.
                Content security policies are used to avoid <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">XSS</a> attacks.
                Stored passwords use a <a href="http://php.net/password_hash">strong hashing algorithm</a>.
                <a href="/documentation/bruteforce-protection">Brute force protection</a> and account lock down for authentication.
            </dd>
            <dt>Free and Open Source software</dt>
            <dd>
                Kanboard is distributed under the permissive MIT License.
                The software is mainly developed by Frédéric Guillot but more than 60+ people have contributed!
            </dd>
        </dl>
    </section>
{% endblock %}
