{% extends "layout.twig" %}

{% block title %}Project planning with the Gantt chart{% endblock %}
{% block description %}Manage your resources effectively with the Gantt chart{% endblock %}

{% block content %}
    <article id="feature">
        <h1>Gantt chart</h1>

        <p>
            Visualize the time line of your projects easily and make accurate forecasts.
            Create your Gantt chart quickly by dragging and dropping tasks.
        </p>

        <h2>Gantt chart for tasks</h2>
        <figure>
            <img src="/screenshots/tour/gantt-tasks.png" alt="Gantt chart for tasks" title="Gantt chart for tasks"/>
        </figure>
        <p>Each project has its own Gantt chart. You can now allocate resources efficiently.</p>

        <h2>Gantt chart for projects</h2>
        <figure>
            <img src="/screenshots/tour/gantt-projects.png" alt="Gantt chart for projects" title="Gantt charts for projects"/>
        </figure>
        <p>Planning projects are very easy since you can see clearly when a project will start and finish.</p>

        <h2>Discover other features</h2>
        <ul>
            <li><a href="/features/kanban">Manage your Kanban board efficiently</a></li>
            <li><a href="/features/search-and-filters">Use filters to find your tasks</a></li>
            <li><a href="/features/dashboard">Dashboard for all your projects</a></li>
            <li><a href="/features/analytics-and-reports">Visualize and analyze your workload with reports</a></li>
            <li><a href="/features/integrations">Powerful integrations with third-party services</a></li>
        </ul>
    </article>
{% endblock %}
