{% extends "layout.twig" %}

{% block title %}Find tasks fast with the advanced search engine{% endblock %}
{% block description %}Don't waste your time, use the search queries to find quickly what you need{% endblock %}

{% block content %}
    <article id="feature">
        <h1>Search and Filters</h1>

        <p>Don't waste your time, find your tasks quickly with the simple but powerful search engine.</p>

        <h2>Use advanced filters</h2>
        <figure>
            <img src="/screenshots/tour/board-filters.png" alt="Board filters" title="Board filters"/>
        </figure>
        <p>Apply dynamically custom filters on the board to find what you need. Search by assignees, description, categories, due date, etc.</p>

        <h2>Switch quickly between board, calendar and list views</h2>
        <figure>
            <img src="/screenshots/tour/list-view.png" alt="List view" title="List view"/>
        </figure>
        <p>In one click or with just one rapid keyboard shortcut, change the way to display your tasks.</p>

        <h2>Discover other features</h2>
        <ul>
            <li><a href="/features/kanban">Manage your Kanban board efficiently</a></li>
            <li><a href="/features/dashboard">Dashboard for all your projects</a></li>
            <li><a href="/features/analytics-and-reports">Visualize and analyze your workload with reports</a></li>
            <li><a href="/features/integrations">Powerful integrations with third-party services</a></li>
            <li><a href="/features/gantt-chart">Visualize the timeline of your project with Gantt charts</a></li>
        </ul>
    </article>
{% endblock %}
