<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="images/png" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/touch-icon-ipad-retina.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed">
</head>
<body>
    <div id="content">
        <article class="page">
            {% block content %}{% endblock %}
        </article>
        <nav>
            <h3 class="logo"><span class="k-letter">K</span><span class="b-letter">B</span> <a href="{% if (language == 'fr_FR') %}/fr{% else %}/{% endif %}">Kanboard</a></h3>

            {{ nav|raw }}

            <div class="release-info">v{{ info.version }} ({{ info.date }})</div>
        </nav>
    </div>
    <footer>
        Copyright 2016 - Frédéric Guillot -
        {% if (language == 'en_US') %}
            <a href="/fr">Français</a>
        {% else %}
            <a href="/">English</a>
        {% endif %}
    </footer>
</body>
</html>
