<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="images/png" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/touch-icon-ipad-retina.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="/">kanboard</a>
        <ul>
            <li {% if menu == 'features' %} class="active" {% endif %}>
                <a href="/features">Features</a>
            </li>
            <li {% if menu == 'plugins' %} class="active" {% endif %}>
                <a href="/plugins">Plugins</a>
            </li>
            <li {% if menu == 'news' %} class="active" {% endif %}>
                <a href="/news">News</a>
            </li>
            <li {% if menu == 'enterprise' %} class="active" {% endif %}>
                <a href="/enterprise">Enterprise</a>
            </li>
            <li {% if menu == 'hosting' %} class="active" {% endif %}>
                <a href="/hosting" class="hosted-menu">Hosting</a>
            </li>
            <li {% if menu == 'downloads' %} class="active" {% endif %}>
                <a href="/downloads">Downloads</a>
            </li>
        </ul>
    </nav>
</header>

<div class="page">{% block content %}{% endblock %}</div>

<footer>
    <div class="first-column">
        <ul>
            <li>By <a href="https://github.com/fguillot">Frédéric Guillot</a></li>
            <li><a href="https://miniflux.net/">Discover Miniflux, the minimalist RSS reader</a></li>
            <li>Made in <i class="flag flag-ca"></i> Canada and <i class="flag flag-fr"></i> France</li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li><a href="/donations">Donations</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="https://github.com/kanboard/kanboard/issues">Bug tracker</a></li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li><a href="/feed">RSS Feed</a></li>
            <li><a href="https://twitter.com/KanboardApp">Twitter</a></li>
            <li>IRC: <a href="ircs://chat.freenode.net:6697/#kanboard">#kanboard</a> (freenode)</li>
        </ul>
    </div>
</footer>
</body>
</html>
