<form id="newsletter" method="post" action="/subscribe/newsletter">
    <h3>Receive the latest news about Kanboard</h3>
    <input type="email" name="email" required placeholder="Enter your email address">
    <input type="submit" value="Subscribe to the Newsletter" class="btn btn-blue">
    <p>We will never spam and your privacy is guaranteed.</p>
</form>
