body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 110%;
    margin: 0 auto;
    max-width: 1010px;
}

a {
    color: #3366CC;
    border: 1px solid rgba(255, 255, 255, 0);
}

a:focus {
    outline: 0;
    color: red;
    text-decoration: none;
    border: 1px dotted #aaa;
}

a:hover {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    color: #444;
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
    border-bottom: 1px dotted #ccc;
}

h3 {
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
}

h1 a,
h2 a {
    color: #444;
    text-decoration: none;
}

h2 a:hover {
    color: #666;
}

li {
    margin-bottom: 10px;
    line-height: 23px;
}

li ul {
    margin-top: 5px;
}

table {
    border-color: grey;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    background: #efefef;
    color: #333;
}

table td,
table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

dt {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.3em;
}

dt a {
    color: #555;
    text-decoration: none;
}

dt a:hover,
dt a:focus {
    color: brown;
}

dd {
    margin-bottom: 20px;
    border-left: 3px solid #eee;
    padding-left: 10px;
    line-height: 1.7em;
    color: #999;
}

input[type="submit"] {
    -webkit-appearance: none;
}

input[type="email"],
input[type="text"] {
    border: 1px solid #ccc;
    padding: 3px;
    height: 22px;
    width: 250px;
    font-size: 99%;
    margin-bottom: 15px;
}

input[type="email"]:focus,
input[type="text"]:focus {
    color: #000;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.btn {
    display: inline-block;
    color: #333;
    border: 1px solid #ccc;
    background: #efefef;
    padding: 5px 15px;
    font-size: 100%;
    cursor: pointer;
    border-radius: 2px;
}

a.btn-blue,
.btn-blue {
    border-color: #3079ed;
    background: #4d90fe;
    color: #fff;
    text-decoration: none;
}

.btn-blue:hover,
.btn-blue:focus {
    border-color: #2f5bb7;
    background: #357ae8;
    color: #fff;
}

p img {
    border: 1px solid #000;
    border-radius: 3px;
    max-width: 100%;
}

li code,
p code {
    padding: 0.2em;
    margin: 0;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.4em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fcfcfc;
    color: #666;
}

#content {
    display: flex;
    flex-direction: row-reverse;
}

#content article {
    flex: 1;
}

#content nav {
    width: 220px;
    padding-right: 25px;
    font-size: 0.9em;
}

#content nav h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #444;
    font-weight: 500;
}

#content nav ul {
    margin: 0;
    padding: 0;
}

#content nav li {
    line-height: 25px;
    list-style-type: none;
    border-bottom: 1px dotted #eee;
}

#content nav li a {
    color: #888;
    text-decoration: none;
    font-weight: 300;
}

#content nav a:hover,
#content nav a:focus {
    color: #000;
}

@media only screen and (max-width: 700px) {
    #content {
        display: block;
    }

    #content nav {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.1em;
    }

    .logo {
        border-top: 1px dotted #aaa;
        border-bottom: 1px dotted #aaa;
        line-height: 30px;
    }
}

footer {
    font-size: 0.8em;
    color: #bbb;
    text-align: center;
    margin-bottom: 10px;
}

.plugin-links {
    margin-top: 30px;
}

.plugin {
    border: 2px dotted #dedede;
    padding: 0 20px 20px;
    margin-bottom: 40px;
}

.plugin h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.plugin-info {
    margin-top: 0;
    color: brown;
    font-size: 0.85em;
}

.plugin-summary {
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 5px solid #333;
}

.plugin-summary h1 {
    margin-bottom: 20px;
}

#readme {
    border: 2px dotted #d0d0d0;
    border-radius: 10px;
    padding: 10px 20px;
}

#readme h1 {
    margin: 0;
}

#newsletter {
    border: 1px solid #ccc;
    background: #FAFAFA;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#newsletter h3 {
    color: #666;
    font-size: 1.4em;
    text-decoration: none;
    margin: 0 0 15px;
}

#newsletter p {
    margin: 0;
    color: #bbb;
}

.news-content time {
    color: brown;
    font-size: 0.85em;
}

#content h3.logo {
    margin-top: 5px;
    margin-bottom: 25px;
}

.logo span {
    opacity: 0.5;
}

.logo a {
    color: #555;
    text-decoration: none
}

.k-letter {
    color: #d40000;
}

.b-letter {
    color: #222;
}

.logo:hover span {
    opacity: 0.8;
}

.logo:hover .k-letter {
    color: #000;
}

.logo:hover .b-letter {
    color: #d40000;
}

.release-info {
    font-size: 0.7em;
    font-style: italic;
    color: #aaa;
    margin-top: 15px;
}
